/* Header */
.large-header {
	/* position: relative; */
	width: 100%;
	background: #333;
	overflow: hidden;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../img/demo-1-bg.jpg');
}

.demo-2 .large-header {
	background-image: url('../img/demo-2-bg.jpg');
	background-position: center bottom;
}

.demo-3 .large-header {
	background: #7f8c8d;
}

.demo-4 .large-header {
	background: #f9f1e9;
}

.main-title {
	/* position: absolute; */
	color: #f9f1e9;
	text-align: center;
	left: 10.5%;	
	transform: translate3d(-0%,-0%,0);
}

.main-title1{
	color: #7f8c8d;
	/* position: absolute; */
	text-align: center;
	/* align-items: center; */
	/* margin-top: 3%; */
	/* margin-left: 20%; */
}

.demo-1 .main-title{
		margin-top: 4%;
	font-size: 1.2em;
}
 
.demo-2.main-title{
	margin-top: 6%;
	font-size: 1.2em;
	left: 10%;
}
body { min-width: 750px; }